<th:block xmlns:th="http://www.thymeleaf.org">
	<table id="listkhachhang" class="table table-bordered table-hover display">
		<thead>
			<tr>
				<th rowspan="2" style="line-height: 35px; padding:3px;text-align: center;">KV</th>

				<th colspan="2" style="line-height: 35px; padding:3px;text-align: center;">Chứng từ</th>

				<th colspan="3" style="line-height: 35px; padding:3px;text-align: center; background-color:#f7f7f7;">Thực đơn</th>

				<th colspan="4" style="line-height: 35px; padding:3px;text-align: center;">Khách hàng</th>

				<th rowspan="2" style="line-height: 35px; padding:3px;text-align: center;">Nhân viên phục vụ</th>

				<th rowspan="2" style="line-height: 35px; padding:3px;text-align: center;">Ghi chú</th>
			</tr>
			<tr>
				<th style="line-height: 35px; padding: 3px;text-align: center;" >Số bàn</th>
				<th style="line-height: 35px; padding: 3px;text-align: center;">Số chứng từ</th>

				<th style="line-height: 35px; padding: 3px;text-align: center; background-color:#f7f7f7;">Số món</th>
				<th style="line-height: 35px; padding: 3px;text-align: center; background-color:#f7f7f7;">Thiếu</th>
				<th style="line-height: 35px; padding: 3px;text-align: center; background-color:#f7f7f7;">Số tiền</th>

				<th style="line-height: 35px; padding: 3px;text-align: center;">Ngày vào</th>
				<th style="line-height: 35px; padding: 3px;text-align: center;">Thời gian</th>
				<th style="line-height: 35px; padding: 3px;text-align: center;">Số khách</th>
				<th style="line-height: 35px; padding: 3px;text-align: center;">Khách hàng</th>
			</tr>
		</thead>
		<tbody class="text-nowrap">
			<tr th:each="banphong1:${banphong}" class="listbanle"  th:id="'banle' + ${banphong1.id}">
				<td th:utext="${banphong1.maKV.tenKV}" th:value="${banphong1.maBG.tenBG}" th:name="${banphong1.maBG.id}"></td>

				<td th:utext="${banphong1.id}"> </td>

				<th:block th:if="${banphong1.chungTuUsing != null}">
					<td class="banconguoi" th:utext="${banphong1.chungTuUsing.id}"></td>

					<td th:utext="${#lists.size(banphong1.chungTuUsing.dongChungTu)}"></td>
					<td></td>
					<td th:utext="${banphong1.chungTuUsing.soTien}"></td>

					<td th:utext="${banphong1.chungTuUsing.ngayCT}"></td>
					<td th:utext="${banphong1.chungTuUsing.khoangThoiGian}"></td>
					<td th:utext="${banphong1.chungTuUsing.soKhach}"></td>
					<td th:if="${banphong1.chungTuUsing.khachHang == null}" ></td>
					<td th:if="${banphong1.chungTuUsing.khachHang != null}" th:name="${banphong1.chungTuUsing.khachHang.id}" th:utext="${banphong1.chungTuUsing.khachHang.ten}"></td>
					<td th:if="${banphong1.chungTuUsing.nhanVien == null}" ></td>
					<td th:if="${banphong1.chungTuUsing.nhanVien != null}" th:name="${banphong1.chungTuUsing.nhanVien.id}" th:utext="${banphong1.chungTuUsing.nhanVien.ten}"></td>
					<td th:utext="${banphong1.chungTuUsing.noiDung}"></td>
					<td style="display: none;" th:utext="${banphong1.chungTuUsing.giam}"> </td>
					<td style="display: none;" th:utext="${banphong1.chungTuUsing.thueVAT}"> </td>
					<td style="display: none;" th:utext="${banphong1.chungTuUsing.phiPV}"> </td>
					<td style="display: none;" th:utext="${banphong1.chungTuUsing.traTruoc}"> </td>
				</th:block>
				<th:block th:unless="${banphong1.chungTuUsing != null}">
					<td class="bantrong"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td name=""></td>
					<td name=""></td>
					<td></td>
					<td style="display: none;"></td>
					<td style="display: none;"></td>
					<td style="display: none;"></td>
					<td style="display: none;"></td>
				</th:block>
				
			</tr>
		</tbody>			
	</table>
	<div id="naa"></div>
	<div class="contextMenu" id="myMenu1" style="display: none;">
		<ul>
			<li id="capnhap-l">Cập nhập</li>
			<li id="huy-l">Hủy</li>
			<li id="chuyenban-l">Chuyển bàn</li>
			<li id="ghepban-l">Ghép bàn</li>
			<li id="thanhtoan-l"> Thanh Toán</li>
		</ul>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".listbanle").each(function(){
				$(this).contextMenu('myMenu1', {
					bindings: {
						'capnhap-l': function(t) {
							
							var ban = $("#listkhachhang").find("#"+t.id).find("td")
							idChungTu = ban.eq(2).html();
							if(idChungTu == ""){
								idChungTu = 0;
							}
							$("#listkhachhang").parents(".container-fluid").find("#hoadon-form").show();
							$("#thucdon").load("/ajax/thungan/banle/getthucdon/"+ban.first().attr("name"));
							$("#detail").load("/ajax/thungan/banle/thongtin", function(){
								$("#thudondadatall").load("/ajax/thungan/banle/thucdon?id="+idChungTu+"&bangGiaId="+ban.eq(0).attr("name"))
								if(ban.eq(2).html() == ""){
									var today = new Date();
									var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
									var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
									var dateTime = date+' '+time;
									$(".giovao").val(dateTime);
								}else{
									$(".giovao").val(ban.eq(6).html())
								}
								$(".sophieu").val(ban.eq(2).html())
								$(".khachHang").find('option[value="'+ban.eq(9).attr("name")+'"]').attr("selected","selected");
								$(".khachHang").select2();
								$(".soluongkhach").val(ban.eq(8).html())
								$(".phucvu").find('option[value="'+ban.eq(10).attr("name")+'"]').attr("selected","selected");
								$(".phucvu").select2();
								$(".banggia").val(ban.first().attr("value"));
								$(".banggia").attr("name",ban.first().attr("name"))
								$(".soban").val(ban.eq(1).html())
								$(".tratruoc").val(ban.eq(15).html())
								$(".thoigian").val(ban.eq(7).html())
								$(".thungan").val($("#User").html())
								$(".thungan").attr("name",$("#User").attr("name"))
								$(".giam").val(ban.eq(12).html())
								$(".thue").val(ban.eq(13).html())
								$(".phipv").val(ban.eq(14).html())
								$(".thanhtoan").val(ban.eq(5).html())
							});
							return false;
						},
						'huy-l': function(t) {
							if(confirm("Xác nhận hủy")){
								var sms = {
									id: $("#listkhachhang").find("#"+t.id).find("td").eq(2).html()
								}
								save(sms,"/ajax/thungan/banle/delete",function(result){
									if(result.id == "1"){
										$("#thungan").load("/ajax/banphong/thungan1");
									}else{
										alert(result.status);
									}
								})
							}
							return false;
						},
						'chuyenban-l': function(t) {
							if($("#"+t.id).find("td").eq(2).html() == ""){
								alert("Bàn trống!")
								return false;
							}
							var bantrong = $(".bantrong").parents("tr")
							$(".listchuyenban").empty()
							for(let i = 0; i < bantrong.size(); i++){
								var td = bantrong.eq(bantrong.size()-i-1).find("td")
								$(".listchuyenban").append("<tr class='selectchuyenban'><td align='center' name='"+td.eq(0).attr("name")+"'>"+td.eq(0).html()+"</td><td align='center' >"+td.eq(1).html()+"</td></tr>")
							}
							$("#chuyenban").click();
							$(".selectchuyenban").click(function(){
								var sms = {
									id:$("#"+t.id).find("td").eq(2).html(),
									status:$(this).find("td").eq(1).html()
								}
								return save(sms,"/ajax/thungan/banle/change", function(result){
									console.log(result);
									if(result.id == "1"){
										$(".huy-chuyenban").click();
										$("#thungan").load("/ajax/banphong/thungan1");
									}else{
										alert(result.status);
									}
								})
							})
							return false;
						},
						'ghepban-l': function(t) {
							if($("#"+t.id).find("td").eq(2).html() == ""){
								alert("Bàn trống!")
								return false;
							}
							var banconguoi = $(".banconguoi").parents("tr").not("#"+t.id);
							$(".listchuyenban").empty()
							for(let i = 0; i < banconguoi.size(); i++){
								var td = banconguoi.eq(banconguoi.size()-i-1).find("td")
								$(".listchuyenban").append("<tr class='selectchuyenban'><td align='center' name='"+td.eq(0).attr("name")+"'>"+td.eq(0).html()+"</td><td align='center' name='"+td.eq(2).html()+"' >"+td.eq(1).html()+"</td></tr>")
							}
							$("#chuyenban").click();
							$(".selectchuyenban").click(function(){
								var sms = {
									id:$("#"+t.id).find("td").eq(2).html(),
									status:$(this).find("td").eq(1).attr("name")
								}

								return save(sms,"/ajax/thungan/banle/ghepban", function(result){
									if(result.id == "1"){
										$(".huy-chuyenban").click();
										$("#thungan").load("/ajax/banphong/thungan1");
									}else{
										alert(result.status);
									}
								})
							})
							return false;
							
						},
						'thanhtoan-l': function(t) {
							if($("#"+t.id).find("td").eq(2).html() != ""){
								var m = $("#listkhachhang").parents(".container-fluid");
								m.find("#thanhtoan").click();
								
								m.find(".hoadon").load("/ajax/thungan/banle/hoadon/" + $("#"+t.id).find("td").eq(2).html());
								
								$("#xacnhan-hoadon").click(function(){
									var sms = {
										id:$("#"+t.id).find("td").eq(2).html(),
										status:""
									}
									return save(sms,"/ajax/thungan/banle/thanhtoan", function(result){
										if(result.id == "1"){
											$(".huy-xacnhan").click();
											$("#thungan").load("/ajax/banphong/thungan1");
										}else{
											alert(result.status);
										}
									})
								})
							}else{
								alert("Bàn trống, đồng bộ trang để lấy thông tin chính xác");
							}
							return false;
						}
					}
				});
			})
		});	 	
	</script>
</th:block>